@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');/*H2 font*/

@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500&family=Source+Sans+Pro:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500&display=swap');

:root{
  --button-font: '';
  --card-border-color: none; 
  --card-text-color: #2d2d2d;
  --card-color: #CDC9C3;
  --background-color: #D9E4DD;
  --main-color: #555555;
  --secondary-color: #CDC9C3;
  --header-option-activated: #D9E4DD;
  --header-option-hover: #cdc9c33b;
  --page-title-color: #555555;
  --button-text-color: #fff;
  --button-color: #555555;
  --shadow-color: #333333c4;
  --main-font-color: #FFEFEF;
  --code-background-color: #747373;
  --code-color: rgb(255, 255, 255);
}

*{
  box-sizing: border-box;
  margin: 0;
}
html,
body {
  padding: 0;
  margin: 0;
  background-color: var(--background-color);
  font-family: 'Roboto', sans-serif;
}



.page-title{
  color: var(--page-title-color);
  margin-top: 1rem;
  margin-left: 1.6rem;
  padding-left: 0.6rem;
  border-bottom: solid  7px;
  border-left: solid 7px;
  width: 7rem;
}
.img-fit{
  object-fit: cover;
  /* max-height: 100vh; */
  max-width: 100%;
  display: flex;
  margin-left: auto;
  margin-right: auto; 
}
/*TEMP*/
.center-404 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
/*0----------------0*/

code {
  width: 80vw;
  white-space: normal;
  max-width:100%;
  word-break:break-all;
  word-wrap:break-word;
  max-width: 100vw;
  font-size: 1em;
  line-height: 1.4em;
  text-indent: 1rem;
}
.simple-code{
  font-size: 0.8em;
  font-family: 'Source Code Pro', monospace ;
  background-color: var(--code-background-color);
  padding: 0.2rem;
  border-radius: 0.4rem;
  font-weight: normal;
  color:  var(--code-color);
}

h1{
  /* font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif; */
  line-height: 1.12;
  font-style: normal;
  font-weight: 700;
  color: rgba(41, 41, 41, 1);
  margin: 0;
 
}
h2{
  font-family: 'Merriweather', serif;
  margin: 2rem 0px 0px  0px;
}
h3{
  /* margin: 20px 0px 0px 40px; */
  margin: 0px;
  padding-top: 25px;
  padding-left: 30px;

}
hr{
  border: 1px solid #acacac;
}

p{
  line-height: 28px;
  margin-top: 1.56em;
  margin-bottom: -0.46em;
  word-break: break-word;
  color: rgba(41, 41, 41, 1);
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-family: 'Roboto', sans-serif;
  line-height: 1.4em;
  font-size: 1em;
}
li{
  line-height: 1.4em;
  font-size: 1em;
  font-family: 'Roboto', sans-serif;
  color: rgba(41, 41, 41, 1);

}
a{
  color: #292929;
  font-weight: 700;
  /* font-family: medium-content-sans-serif-font, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif; */
  font-size: 0.9rem;
  line-height: 1.4em;
  text-indent: 1rem;
}



/*--------------------FOOTER------------*/
footer{
  background: var(--main-color);
  text-align: center;
  bottom: 0px;
  height: 3rem; /* height of footer */
  width: 100%;
  margin:0px 0px;
  margin-top: 3rem;
}
footer::after{
  
  position: absolute;
  bottom: 0px; 
}
footer p{
  color: var(--main-font-color);
  margin: 0;
  font-size: 0.8em;
  padding-top: 0.9rem;
}


/*----------------header------------------*/
.header {
  overflow: hidden;
  background-color: var(--main-color);
  padding: 20px 10px;
  
}

.header a {
  float: left;
  color: white;
  text-align: center;
  margin: 0 0.2vw;
  padding: 8px 0px 8px 0px;
  padding-right: 14px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 3px;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

.header a:hover {
  background-color: var(--header-option-hover);
  color: white;
}

.header a.active {
  background-color:var(--secondary-color);
  color: #2d2d2d;
}

.header-right {
  float: right;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  
  .header-right {
    float: none;
  }
  .header a.logo{
    padding: 5px;
    width: 13rem;
    margin-bottom: 2vh;
    
  }
}
