@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
  /* box-sizing: border-box; */
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
}


header {
  background: steelblue;
  color: #fff;
  padding: 5px;
  margin-bottom: 40px;
}

header a {
  color: #fff;
}

.headerDiv {
  max-width: 768px;
  margin: auto;
  overflow: auto;
  padding: 0 10px;
}
/*----------BLOG PAGE ----------*/
.posts-grid{
  display: flex;
  /* grid-auto-rows: minmax(100px, auto); */
}

/*----------POST CARD------*/
.post-card-div{
  width: 250px;
  height: 300px;
  margin-left: 3vw;
  border: 2px solid #2d2d2da6;
  border-radius: 20px;
}



.post-card-img{
  border-radius: 20px  20px 0px 0px;

  height: 200px;
  object-fit: cover;
  width: 250px;
}


.post-card-container{
  margin-left: 0.5vw;  
  margin-right: 0.5vw;  
  margin-top: 0.2vh;  
  margin-bottom: 0.5vh;  
}
.post-card-title{
  margin-left: 1vw;
}
.post-card-resume{
  margin: 0;
  font-size: 12px;
}

.post-card-date{
  color: #2d2d2da6;
  font-size: 12px;
}
